<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Coming Soon</title>
            <link rel="stylesheet" href="../assets/css/main.css">
            <link rel="color" href="./color.css">
        </head>
        <body  id="top">

			    <!-- Banner -->
			    <!--
				    To use a video as your background, set data-video to the name of your video without
				    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				    formats to work correctly.
			    -->
                <section id="banner" data-video="images/banner">
                    <div class="inner">
                        <header>
                            <h1>We'll Be Back Soon</h1>
                            <p>This Website has gone down, please come back later<br />
                            designed by <a href="https://templated.co/">Templated</a> and released under the Creative Commons License.</p>
                        </header>
                    </div>
                </section>
                <div class="main">
                  <div class="inner">

                    <a href="./views/released.html" class="button fit">Enter</a>
                  </div>
                </div>
                <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <h2>Powered By InfinityFreeApp.com</h2>
                        <p>This website is powered by InfinityFreeApp.com</p>

                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
                    </div>
                </footer>
                <!-- Scripts -->
                    <script src="./countdown.js"></script>
        </body>
    </html>
